*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
img{
    margin-bottom: 0px;
}
.navbar-brand{
    color: #777;
}

@media (min-width: 768px){
    .navbar-brand{
        padding: 0px;
    }
}
.navbar-brand{
float: left;
height: 50px;
font-size: 18px;
line-height: 20px
}
a{
    outline: none;
    text-decoration: none;
}
.navbar-brand>img{
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-left: 82px;
}
@media (min-width: 992px){
.col-md-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
}
.sr-only{
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-brand>img.nav-logo {
    width: 150px;
    margin-top: 1px;
    background: #fff;
    padding: 2px;
    border-radius: 5px;
    margin-right: 356px;
    margin-left: 718px;
}