*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.navbar-brand{
    width: 100px;
    height: 10px;
    left: 600px;
}
img{
    margin-bottom: 10px;
}
.navbar-brand>img {
    display: block;
}
.navbar-brand>img {
    width: 200px;
    float: left;
    margin-top: -15px;
    margin-left: 0px;
}
.navbar-light .navbar-nav .nav-link {
    /* font-family: "Jost", sans-serif; */
    color: black;
    position: relative;
    margin-left: 15px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    /* color: var(--dark); */
    outline: none;
    transition: 0.5s;
    left: -60px;
  }
  
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
  }
  
  /* .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    /* color: var(--primary); */
  /* }  */
  
  @media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 5px;
      bottom: 0;
      left: 50%;
      /* background: var(--primary); */
      transition: 0.5s;
    }
  
    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
      width: 100%;
      left: 0;
    }
  
    .navbar-light .navbar-nav .nav-link.nav-contact::before {
      display: none;
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
      margin-left: 0;
      padding: 10px 0;
    }
  }
  .carousel{
    position: relative;
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
 .carousel-inner>active{
    height: 100vh;
    display: block;
 }
 .carousel-ineer>.item>img{
    height: 100vh;
    width: 100%;
    line-height: 1;
    display: block;
    max-width: 100%;
 }
 .visible-xs{
    display: none;
 }
 .full-imgsec{
    height: 400px;
    background-repeat: no-repeat;
    background-image: url(https://sunteckcity.com/images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 }
 .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
 }
 .flex-cen{
    justify-content: center;
    align-items: center;
    display: flex;
 }
 .row{
    margin-right: -15px;
    margin-left: -15px;
 }
 .col-md-6, .col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }
 .div-sec img{
    padding: 0px 30px;
    width: 70%;
    margin: 0 auto;
    display: block;
    position: relative;
    left: 10%;
 }
 p{
    margin-bottom: 10px;
    line-height: 23px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 .high-img1 p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 27px;
    display: flex;
    font-style: normal;
    font-weight: 100;
    /* height: 75px; */
    width: 88%;
    padding: 0px 30px;
 }
.full-secoverlay{
    background: rgb(0 0 0 / 90%);
    height: 100%;
    width: 100%;
}
.item-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-sec p::after {
    content: " ";
    border-left: 2px solid #d59742;
    right: 2%;
    height: 56%;
    top: 37px;
    position: absolute;
}
section{
    display: block;
}
.mr0{
    margin: 0;
}
.pd0{
    padding: 0;
}
.fullscreen-video-backgroubd #youtube-iframe-wrapper{
    display: flex;
    border: 3px solid #f6b553;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 545px;
}
video{
    display: inline-block;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.cover-content{
    height: 545px;
    padding: 90px;
    display: flex;
    align-items: center;
}
.cover-content p{
    color: #666666;
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
}
p{
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
}
.db{
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    left: 10px;
    letter-spacing: 1px;
    border: 3px solid #fff;
    font-size: 18px;
    background: linear-gradient(to right,#f6b553,#f0d97f,#d59742);
    color: #000;
    padding: 8px 12px;
    border-radius: 0px;
    margin: 5px 0px;
    outline: none;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1;
    user-select: none;
}
.interested{
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    letter-spacing: 1px;
    border: 3px solid #fff;
    font-size: 18px;
    background: linear-gradient(to right,#f6b553,#f0d97f,#d59742);
    color: #000;
    padding: 8px 12px;
    border-radius: 0px;
    margin: 5px 0px;
    outline: none;
}
#conf{
    background-image: url(https://sunteckcity.com/images/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay-sec{
    width: 100%;
}
.overlay-sec .overlay{
    padding: 0px 85px 242px 23px;
    background: #000000e6;
}
.confhead{
    margin: 0 auto;
    display: block;
}
.pricingTable{
    text-align: center;
}
.pricingTable .pricingTable-header{
    padding: 0 0 20px;
}
.pricingTable .title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.pricingTable .title:after {
    content: "";
    /* background: #F63459; */
    width: 50px;
    height: 3px;
    margin: 10px auto 0;
    display: block;
    clear: both;
    background-image: linear-gradient(to right, #f6b553, #f0d97f, #d59742);
}
.pricingTable .price-value {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    display: block;
}
.pricingTable .pricing-content {
    border-radius: 0 0 20px 20px;
    padding: 0px 0px 20px;
}
.pricingTable .pricingTable-signup a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 10px;
    background-image: linear-gradient(to right, #f6b553, #f0d97f, #d59742);
    font-weight: 600;
    margin: 0 auto;
    display: inline-block;
    transition: all 0.5s;
}
a {
    outline: none;
    text-decoration: none !important;
}
.pricingTable .pricingTable-signup a::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    opacity: 1;
    top: 57%;
    left: 55px;
    width: 6%;
    height: 50px;
    z-index: 4;
}
.pricingTable .pricingTable-signup a::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 10%;
    right: 58px;
    width: 6%;
    height: 50px;
    z-index: 1;
}
.pricingTable .pricing-content {
    border-radius: 0 0 20px 20px;
    padding: 0px 0px 20px;
}
.pricingTable {
    text-align: center;
    padding: 20px 0 0;
    box-shadow: 3px 3px 7px 0px rgb(0 0 0 / 30%);
    transition: ease all 0.5s;
    border: 3px solid #fff;
    margin: 25px;
}